@model Instructor

<h2>Деталі викладача</h2>

<p>Ім'я та прізвище: @Model.FirstName @Model.LastName</p>
<p>Пошта: @Model.Email</p>
<p>Кафедра: @Model.Departament.()</p>

<a asp-action="Edit" asp-route-id="@Model.Id">Редагування</a> 
<a asp-action="Delete" asp-route-id="@Model.Id">Видалення</a>