@model Course

<h2>Деталі курсу</h2>

<p>Назва: @Model.Title</p>
<p>Опис: @Model.Description</p>
<p>?Кредити?: @Model.Credits</p>

<a asp-action="Edit" asp-route-id="@Model.Id">Редагування</a> 
<a asp-action="Delete" asp-route-id="@Model.Id">Видалення</a>